@import './base/tailwind.scss';

.alert {
  position: fixed;
  top: 30px;
  right: 30px;
  animation: slide 0.5s;
  z-index: 999999;
  @apply p-3 text-default;
}

pre {
  font-family: 'Inter', sans-serif;
}

[role='button'],
button {
  @apply py-2 px-3 rounded-lg text-white bg-primary;
  &.large {
    @apply px-4 py-3;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.9;
    @apply bg-default text-lighter;
  }
}

.oneWord-popup {
  .icon-container {
    cursor: pointer;
    img,
    svg {
      transition: all 200ms ease;
    }
    svg {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.6);
    }
  }
  &:hover {
    .icon-container {
      svg {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
      img {
        opacity: 0;
        transform: scale(0.6);
      }
    }
  }
}

.oneWord-popover {
  width: 250px;
  min-height: 200px;
  z-index: 99;
  svg:hover {
    @apply text-primary;
  }
}

select,
input,
textarea {
  @apply p-3 rounded-lg rounded-lg bg-lighter;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    outline: none;
    @apply bg-default;
  }
}

select {
  cursor: pointer;
}

svg {
  fill: currentColor;
}

div[role='card'] {
  @apply rounded-lg p-3 bg-white shadow-xl border;
}

@keyframes slide {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
