@screen lg {
  .project-screenshot {
    height: 520px;
  }
}
.project-screenshot-container {
  transition: all 0.2s ease;
}
.swiper-pagination-bullet-active {
  @apply bg-primary #{!important};
}
.swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
}
.content-wrapper {
  li {
    list-style: disc;
    list-style-position: inside;
  }
  a {
    @apply text-primary;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .go-back {
    overflow: hidden;
    cursor: pointer;
    @apply text-default;
    svg,
    span {
      transform: translateX(-20px);
      transition: transform 0.2s ease;
    }
    &:hover {
      @apply text-primary;
      text-decoration: none;
      span {
        transform: translateX(0);
      }
      svg {
        transform: rotate(-90deg) translateX(0);
      }
    }
  }
}
